.payment_method_buckaroo_ideal fieldset {
   background-color: white;
}

.wc_payment_method.payment_method_buckaroo_afterpay label img {
	width: 24px!important;
}

/* Hide Exodus Method */
.wc_payment_method.payment_method_ {
	display: none;
}